{% extends "base.html" %}

{% block title %}Stichworte - Vorgaben Informatiksicherheit{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1>Stichworte</h1>
  <p class="lead">Alphabetisches Verzeichnis aller Schlagworte und Kategorien</p>

  {% for Anfang, Worte in stichworte.items %}
  <div class="row mb-4">
    <div class="col-md-12">
      <h2 class="h3" id="{{ Anfang }}">{{ Anfang }}</h2>
    </div>
  </div>
  <div class="row mb-4">
    {% for Wort in Worte %}
    <div class="col-md-4 mb-2">
      <a href="{% url 'stichwort_detail' stichwort=Wort %}"
         class="list-group-item list-group-item-action">
        {{ Wort }}
      </a>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}