{% extends "base.html" %}
{% load static %}

{% block title %}Passwort geändert{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Passwort erfolgreich geändert</h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-success">
          <p>Ihr Passwort wurde erfolgreich geändert.</p>
        </div>
        <p>
          <a href="/" class="btn btn-primary">Zurück zur Startseite</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}